# Structure of analysis
- Objective
- Modules
- Import 
- Clean 
- Organize 
- Generate 
- Analyze

# Objective

1. Calculate team win percentages: $winper=\frac{W}{W+L}$
2. Calculate team expected win percentages based on the origonal Pythagoream formula: $\widehat{winper}=\frac{RF^2}{RF^2+ RA^2}$
3. Save datafram as csv in working directory

## Modules

In [1]:
import os, sys
import pandas, numpy
import matplotlib

## Import

In [2]:
print('observe working directory')
os.getcwd()

observe working directory

'/home/vmuser'

In [4]:
print('change working directory')
os.chdir('/home/vmuser/Documents/4P94/01-pythagorean')

change working directory

In [5]:
dm = pandas.read_csv('mlb_win.csv')

## Clean

In [6]:
print dm.columns
print dm.dtypes

Index([u'Team', u'League', u'W', u'L', u'Runs For', u'Runs Against'], dtype='object')
Team            object
League          object
W                int64
L                int64
Runs For         int64
Runs Against     int64
dtype: object

In [7]:
dm.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Team</th>
      <th>League</th>
      <th>W</th>
      <th>L</th>
      <th>Runs For</th>
      <th>Runs Against</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Philadelphia Phillies</td>
      <td>NL</td>
      <td>63</td>
      <td>99</td>
      <td>626</td>
      <td>809</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Cincinnati Reds</td>
      <td>NL</td>
      <td>64</td>
      <td>98</td>
      <td>641</td>
      <td>754</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Atlanta Braves</td>
      <td>NL</td>
      <td>67</td>
      <td>95</td>
      <td>573</td>
      <td>760</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Colorado Rockies</td>
      <td>NL</td>
      <td>68</td>
      <td>94</td>
      <td>737</td>
      <td>844</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Milwaukee Brewers</td>
      <td>NL</td>
      <td>68</td>
      <td>94</td>
      <td>655</td>
      <td>738</td>
    </tr>
  </tbody>
</table>
</div>

## Organize

In [8]:
dm = dm.sort_values(by=['League', 'Team'])

## Generate

In [9]:
dm['RF2'] = dm['Runs For']**2
dm['RA2'] = dm['Runs Against']**2

##  Analyze

In [11]:
dm['WP']  = dm['Runs For'] / (dm['Runs For']  + dm['Runs Against'] )
dm['EWP'] = dm['RF2'] / (dm['RF2']+ dm['RA2'] )
dm['Diff'] = dm['WP']  - dm['EWP']

In [12]:
dm[['Team', 'WP', 'EWP']].head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Team</th>
      <th>WP</th>
      <th>EWP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>14</th>
      <td>Baltimore Orioles</td>
      <td>0.507112</td>
      <td>0.514222</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Boston Red Sox</td>
      <td>0.498334</td>
      <td>0.496669</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Chicago White Sox</td>
      <td>0.470144</td>
      <td>0.440499</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Cleveland Indians</td>
      <td>0.511077</td>
      <td>0.522143</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Detroit Tigers</td>
      <td>0.461796</td>
      <td>0.424036</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
print('save to csv')
dm.to_csv('mlb_expected.csv')

save to csv

## Done