# Structure of analysis
- Objective
- Modules
- Import 
- Clean 
- Organize 
- Generate 
- Analyze

# Objective

1. Calculate team win percentages: $winper=\frac{W}{W+L}$
2. Calculate team expected win percentages based on the origonal Pythagoream formula: $\widehat{winper}=\frac{RF^2}{RF^2+ RA^2}$
3. Save datafram as csv in working directory

## Modules

In [92]:
import os, sys
import pandas, numpy
import matplotlib

## Import

In [93]:
print('observe working directory')
os.getcwd()

observe working directory

'C:\\Users\\kevin\\Documents\\GitHub\\courses\\4P94\\labs\\pyth-mlb'

In [94]:
dm = pandas.read_csv('mlb_win.csv')

## Clean

In [95]:
print dm.columns
print dm.dtypes

Index([u'Team', u'League', u'W', u'L', u'Runs For', u'Runs Against'], dtype='object')
Team            object
League          object
W                int64
L                int64
Runs For         int64
Runs Against     int64
dtype: object

In [96]:
dm.head()

                    Team League   W   L  Runs For  Runs Against
0  Philadelphia Phillies     NL  63  99       626           809
1        Cincinnati Reds     NL  64  98       641           754
2         Atlanta Braves     NL  67  95       573           760
3       Colorado Rockies     NL  68  94       737           844
4      Milwaukee Brewers     NL  68  94       655           738

## Organize

In [97]:
dm = dm.sort_values(by=['League', 'Team'])

## Generate

In [98]:
dm['RF2'] = dm['Runs For']**2
dm['RA2'] = dm['Runs Against']**2

##  Analyze

In [99]:
dm['WP']  = dm['Runs For'] / (dm['Runs For']  + dm['Runs Against'] )
dm['EWP'] = dm['RF2'] / (dm['RF2']+ dm['RA2'] )
dm['Diff'] = dm['WP']  - dm['EWP']

In [100]:
dm[['Team', 'WP', 'EWP']].head()

                 Team        WP       EWP
14  Baltimore Orioles  0.507112  0.514222
11     Boston Red Sox  0.498334  0.496669
9   Chicago White Sox  0.470144  0.440499
15  Cleveland Indians  0.511077  0.522143
8      Detroit Tigers  0.461796  0.424036

In [101]:
print('save to csv')
dm.to_csv('mlb_expected.csv')

save to csv

## Done